{% extends 'base.html' %}
{% load static %}
{% block metadescriprion %}
    Pentagon BUY.THINK.GROW
{% endblock %}
{% block title %}
    Search Results
{% endblock %}
{% block body %}
    <div class="text-center my_search_text">
        <p>Search Results for:<b>'{{query}}'</b></p>
    </div>
    <div class="container">
        <div class="row mx_auto">
            {% for product in products %}
                <div class="my_bottom_margin col-sm-12 col-md-4">
                    <div class="card text-center" style="min_width:18rem;">
                        <a href="{{product.get_url}}"><img class="card-img-top my_image"src="{{product.image.url}}" width="250px"; height="200px;"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}/-</p>
                </div>
                {% empty %}
                    <div class="row mx_auto">
                        <p class="text-center my_search_text">No results found</p>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}